parameters:
	ignoreErrors:
		-
			message: '#^Static call to instance method App\\Models\\User\:\:create\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: '#^Method App\\Actions\\Jetstream\\CreateTeam\:\:create\(\) should return App\\Models\\Team but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Jetstream/CreateTeam.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Jetstream/DeleteUser.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$ownedTeams\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Jetstream/DeleteUser.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$teams\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Jetstream/DeleteUser.php

		-
			message: '#^Access to an undefined property App\\Models\\Team\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Jetstream/InviteTeamMember.php

		-
			message: '#^Parameter \#1 \$invitation of class Laravel\\Jetstream\\Mail\\TeamInvitation constructor expects Laravel\\Jetstream\\TeamInvitation, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Actions/Jetstream/InviteTeamMember.php

		-
			message: '#^Access to an undefined property App\\Models\\Team\:\:\$owner\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Jetstream/RemoveTeamMember.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Actions/Jetstream/RemoveTeamMember.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$current_team_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Helpers/DefaultUserHelper.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Helpers/DefaultUserHelper.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Helpers/DefaultUserHelper.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Helpers/DefaultUserHelper.php

		-
			message: '#^Method App\\Models\\User\:\:firstOrCreate\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 3
			path: app/Helpers/DefaultUserHelper.php

		-
			message: '#^Static call to instance method App\\Models\\User\:\:firstOrCreate\(\)\.$#'
			identifier: method.staticCall
			count: 3
			path: app/Helpers/DefaultUserHelper.php

		-
			message: '#^Call to an undefined static method Spatie\\Permission\\Models\\Permission\:\:firstOrCreate\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: app/Helpers/PermissionHelper.php

		-
			message: '#^Call to an undefined static method Spatie\\Permission\\Models\\Role\:\:firstOrCreate\(\)\.$#'
			identifier: staticMethod.notFound
			count: 4
			path: app/Helpers/PermissionHelper.php

		-
			message: '#^Call to an undefined static method Spatie\\Permission\\Models\\Role\:\:whereNotIn\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Helpers/PermissionHelper.php

		-
			message: '#^Method App\\Http\\Controllers\\Auth\\RegisteredUserController\:\:create\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/TeamController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/TeamController.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:when\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/UsersController.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/UsersManageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$email\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/UsersManageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/UsersManageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/UsersManageController.php

		-
			message: '#^Static call to instance method App\\Models\\User\:\:create\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: app/Http/Controllers/UsersManageController.php

		-
			message: '#^Call to an undefined method Illuminate\\Http\\Request\:\:validated\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/VideosController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Video\:\:when\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/VideosController.php

		-
			message: '#^Call to an undefined static method Illuminate\\Routing\\Route\:\:get\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/VideosController.php

		-
			message: '#^Static call to instance method App\\Models\\Video\:\:findOrFail\(\)\.$#'
			identifier: method.staticCall
			count: 2
			path: app/Http/Controllers/VideosController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$description\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/VideosManageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$title\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/VideosManageController.php

		-
			message: '#^Access to an undefined property Illuminate\\Http\\Request\:\:\$url\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/VideosManageController.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Factory\:\:id\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/VideosManageController.php

		-
			message: '#^Call to an undefined static method App\\Models\\Video\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/VideosManageController.php

		-
			message: '#^Static call to instance method App\\Models\\Video\:\:findOrFail\(\)\.$#'
			identifier: method.staticCall
			count: 4
			path: app/Http/Controllers/VideosManageController.php

		-
			message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\Authenticatable\:\:hasRole\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Middleware/RedirectBasedOnRole.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:wherePivot\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: database/factories/UserFactory.php
